*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

main {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title-heading {
    background: #000;
    box-shadow: 0 0 15px #000,
                0 0 30px #000,
                0 0 45px #000,
                0 0 60px #000;
    position: absolute;
    top: 50px;
    width: 350px;
    height: 40px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.title-heading span {
    /* position: relative; */
    margin: 0;
    color: #fff;
    opacity: 0;
    text-transform: uppercase;
}

.title-heading span h1 {
    font-size: 50px;
    font-weight: 700;
}

.title-heading #tic {
    /* position: relative; */
    transform: translateX(-100%);
    color: #fff;
    animation: title-animate-tic 0.5s;
    animation-fill-mode: forwards;
}

.title-heading #tac {
    /* position: relative; */
    transform: translateY(-50%);
    color: #fff;
    animation: title-animate-tac 0.5s;
    animation-fill-mode: forwards;
}

.title-heading #toe {
    /* position: relative; */
    transform: translateY(100%);
    color: #fff;
    animation: title-animate-toe 0.5s;
    animation-fill-mode: forwards;
}

.letter {
    position: absolute;
    animation: bg-animate 5s linear infinite;
    cursor: default;
}

@keyframes bg-animate {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-500%) rotate(360deg);
    }
}

@keyframes title-animate-tic {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes title-animate-tac {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes title-animate-toe {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.board {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.board .cell {
    border: 2px solid #000;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board .cell.x::before,
.board .cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    height: var(--mark-size);
    width: calc(var(--mark-size) * 0.15);
}

.board .cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(-45deg);
}

.board .cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(45deg);
}

.board .cell.circle::before,
.board .cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.board .cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    height: var(--mark-size);
    width: var(--mark-size);
}

.board .cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    height: calc(var(--mark-size) * 0.75);
    width: calc(var(--mark-size) * 0.75);
}

.board .cell.x::before,
.board .cell.x::after,
.board .cell.circle::before {
    background: #000;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background: lightgray;
}

.board .cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background: #fff;
}

.board .cell.x,
.board .cell.x,
.board .cell.circle,
.board .cell.circle {
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.circle):hover,
.board.circle .cell:not(.x):not(.circle):hover {
    cursor: pointer;
}

.game-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    z-index: 10;
    display: none;
}

.show {
    display: flex;
}

.toggle-animation {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
    padding: 0.5rem;
    z-index: 3;
}

#animation-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #222;
    z-index: 2;
}

#winning-message {
    color: #fff;
    margin-bottom: 20px;
    margin-block-start: -10px;
}

#restart {
    background: #fff;
    border: 1px solid #000;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 0.35em 0.6em;
    cursor: pointer;
}